@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");


@tailwind utilities;

/* Removed all shadcn/ui and daisyUI custom properties and variables */

body {
  font-family: "Rouge Script", cursive;
  background-color: #0a1931; /* dark blue */
  color: #e5eaf5; /* silver/light blue */
}
